:root {
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';
  --main-text-color: #212121;
  --primyry-text-color: #757575;
  --secondary-color: #2196f3;
  --bacnd-color: #ffffff;
  --logo-color: #000000;
  --hero-foot-color: #2f303a;
  --dysine-color: #f5f4fa;
  --adress-color: rgba(255, 255, 255, 0.6);
  --categorie-color: #eeeeee;
}

/* BODY */
body {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-weight: 400;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
/* Стили Шапки */

.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.headers-logo {
  color: var(--logo-color);
}
.web {
  color: var(--secondary-color);
}
.navig-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}
.navig-link:hover {
  color: var(--secondary-color);
}
.navig-link:focus {
  color: var(--secondary-color);
}
.headers-contacts {
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-size: 14px;
  color: var(--primyry-text-color);
  text-decoration: none;
}
.headers-contacts:hover {
  color: var(--secondary-color);
}
.headers-contacts:focus {
  color: var(--secondary-color);
}
/* Герой */

.hero {
  background-color: var(--hero-foot-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bacnd-color);
}
.main-butn {
  font-family: var(--main-font);
  cursor: pointer;
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  /* for text button */
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bacnd-color);
}
.main-butn-text {
}
/* Наши плюсы */
.services-title {
  display: none;
}
.services-titles {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.services-description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primyry-text-color);
}
/* Чем мы занимаемся */
.our-job-title {
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 36px;
}
/* Наша команда */
.our-team {
  background-color: var(--dysine-color);
}
.our-team-title {
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 36px;
}
.list-content-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.worker-title {
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 16px;
}
.position {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primyry-text-color);
}
/* Подвал */
.footr {
  background-color: var(--hero-foot-color);
}
.footers-logo {
  color: var(--bacnd-color);
}
.fact-adres {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: var(--bacnd-color);
}
.second-adres {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--adress-color);
}
/* Категории */
.categories-title {
  display: none;
}
.secondary-butns {
  cursor: pointer;
  background-color: var(--dysine-color);
  border: none;
  /* for text button */
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}
.secondary-butns:hover {
  background-color: var(--secondary-color);
  color: var(--bacnd-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.secondary-butns:focus {
  background-color: var(--secondary-color);
  color: var(--bacnd-color);
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.secondary-butns-text {
}
/* Селекторы категорий */
.categorie {
  border: 1px solid var(--categorie-color);
  box-sizing: border-box;
}
.categories-titles {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.categories-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primyry-text-color);
}
